* {
  margin: auto;
}

body {
  max-width: 960px;
}

main {
  width: 66.66%;
  min-width: 325px;
  float: left;
  display: inline-block;
  vertical-align: text-top;
}

blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
  width: 33.33%;
  float: left;
  display: inline-block;
  vertical-align: text-top;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

@media only screen and (max-width: 550px) {
  body {
    font-size: 3.2vw;
  }
}

@media only screen and (max-width: 400px) {
  main {
    width: 50%;
  }
}

/* @media screen and (max-width: 500px) {
  body {
    background-color: hotpink;
  }
} */