#contact-info {
  font-size: 0.8em;
}

.job {
  background-color: #e9e5dc;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 20px;
  border-radius: 25px;
}

#email:hover {
  background-color: blue;
  color: white;
}

.job h3 {
  padding-left: 10px;
}

.job li {
  padding-left: 10px;
}

.lists {
  font-size: 0.8em;
}

section > section {
  font-family: "Helvetica", sans-serif;
}